body {
	background-color: beige;
}

h1 {
	color: cornflowerblue;
	transition: color .5s  ease-in-out;
}

.clicked {
	color: tomato;
}

.small {
	background-color: aquamarine;
  }
  
.middle {
	background-color: burlywood;
}
  
.large {
	 background-color: blueviolet;
}
  